<!DOCTYPE html>
<html ng-app="pApp" lang="en">
<head>
  <meta charset="UTF-8">
  <title>practice!</title>
</head>
<body ng-controller="displayCtrl">
  <input ng-model="userInput" type="text" name="name" value="">
  <input ng-click="showInput" type="button" name="name" value="oh shit">

  <!-- display list items -->
  <ul ng-repeat="item in theFruit">
    <li>{{item.name}} | qty: {{item.qty}}</li>
  </ul>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
  <script type="text/javascript" src="MainCtrl.js"></script>
  <script type="text/javascript" src="MainServ.js"></script>

</body>
</html>
